HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# -------------------------------
# Maven (멀티모듈 포함)
# -------------------------------
target/
**/target/

# Maven Wrapper는 커밋해야 함
!.mvn/
!mvnw
!mvnw.cmd

# -------------------------------
# Logs / Temp
# -------------------------------
logs/
*.log
*.out
*.tmp

# -------------------------------
# OS 잡파일
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# DB 파일(H2 file mode 등)
# (메모리 모드면 필요 없음)
# -------------------------------
*.h2.db
*.mv.db
*.trace.db

# -------------------------------
# 기타(선택)
# -------------------------------
# node_modules/
# coverage/           # jacoco 등 리포트 디렉토리 사용 시
